{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "rules": {
    "semi": "error",
    "max-len": [
      1,
      200
    ],
    "no-shadow": 0,
    "no-plusplus": 0,
    "import/no-unresolved": "off",
    "import/extentions": 0,
    "react/jsx-filename-extension": "off",
    "react/prop-types": [
      1,
      {
        "skipUndeclared": true
      }
    ],
    "no-console": "off",
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "react/jsx-props-no-spreading": 0
  },
  "plugins": [
    "react",
    "jest"
  ]
}